:root {
    --background-color: black;
    --background2-color: #0c021d;
    --bg-gradient: linear-gradient(-45deg, #240657ff, #12042bff);
    --bg-menuitem: rgba(12,2,29,.75);
    --bg-bggrad: linear-gradient(#12042acc, #0e032000), linear-gradient(#0c021d00, #0c021da6);
    --text-color: white;
    --accent-color: #240657;
    --font-family: 'Inter', sans-serif;
    --logo-size: 40px;
}
@supports (font-variation-settings: normal) {
    :root { --font-family: 'Inter var', sans-serif; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html.xmas {
    --background2-color: #1d0205;
    --bg-gradient: linear-gradient(-45deg, #560611ff, #2a0409ff);
    --bg-menuitem: rgba(29, 2, 6, 0.75);
    --bg-bggrad: linear-gradient(#2a0409cc, #21030700), linear-gradient(#1d020600, #1d0206a6);
}

body {
    height: 100vh;
    background-color: black;
    background-image: var(--bg-gradient);
    //background-image: url(./img/backgrounds/01.png);
    //backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center;
    transition: background-image 200ms ease !important;
}

.bgSquare {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -160;

    pointer-events: none;

    background-image: linear-gradient(#ffffff2f 1px, transparent 1px), linear-gradient(to right, #ffffff2f 1px, transparent 1px);
    background-size: 80px 80px;

    animation: movingBack 3s linear infinite;
}
@keyframes movingBack {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 80px 80px;
    }
}
.bgGrad {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -150;

    pointer-events: none;

    background-image: var(--bg-bggrad);
}

#logo {
    position: absolute;
    right: calc(var(--logo-size) / 2);
    top: calc(var(--logo-size) / 2);

    display: inline-block;
    z-index: 20;
    user-select: none;

    svg {
        height: var(--logo-size);
        fill: white;

        transition: height .5s ease;
    }

    a:hover {
        svg {
            height: calc(var(--logo-size) * 1.5);
        }
    }
}

#clock {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: -10;
    display: flex;
    flex-direction: column;
    text-align: left;

    span {
        user-select: none;
        color: rgba(255,255,255,.5);
        font-family: "IBM Plex Mono", "Inconsolata", monospace;
    }
    #clockspan {
        font-size: 24px;
        font-weight: 700;
        //line-height: .8em;
    }
    #datespan {
        font-size: 16px;
        font-style: italic;
    }
    #specialspan {
        margin-top: 8px;
        padding-top: 8px;
        border-top: 1px solid rgba(255,255,255,.5);
        display: inline-block;
        font-weight: 700 !important;

        &.hidden {
            display: none;
        }
    }
}

#menuItems {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    padding-bottom: 0 !important;
    overflow: hidden;

    user-select: none;

    #menuItemCont {
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-flex;
        gap: 12px;
        align-items: flex-end;
        transition: left 200ms !important;
        transition-timing-function: ease;

        .menuItem {
            position: relative;
            width: 150px;
            min-width: 150px;
            max-width: 150px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            padding: 10px;
            background-color: var(--bg-menuitem);
            border: 1px solid rgba(255,255,255,.6);
            border-bottom: none;
            color: white;
            fill: white;
            //border-radius: 20px;
            transition: transform 200ms !important;
            transition-timing-function: ease;
            //aspect-ratio: 1;
    
            .icon {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
    
                svg {
                    display: block;
                    height: 60px !important;
                }
            }
    
            .bottom {
                word-wrap: break-word;
            }
    
            &.active {
                //width: 200px;
                height: 200px;
                //background: rgba(255,255,255,.2);
                //color: black;
                background-color: var(--text-color);
                color: var(--background2-color);
                fill: var(--background2-color);
            }

            &.not-select {
                transform: translateY(150px);
            }
        }
    }
}

#main {
    transition: opacity .3s ease;
    opacity: 1;

    &.invisible {
        opacity: 0;
    }
}

#loading {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;

    .cube {
        display: block;
        width: 32px;
        height: 32px;

        background-color: var(--text-color);

        animation: loadingCube 2s infinite linear;
    }
}
@keyframes loadingCube {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}